<%= form_with model: @login_form, url: login_path, data: { turbo: false } do |f| %>
  <p>Please login to your account</p>

  <div data-mdb-input-init class="form-outline mb-4">
    <%= f.text_field :email, class: "form-control", id: "username", aria: { describedby: "emailHelp" }, placeholder: "Email address" %>
    <%= f.label :email, "Email", class: "form-label", for: "username" %>
  </div>

  <div data-mdb-input-init class="form-outline mb-4">
    <%= f.password_field :password, class: "form-control", id: "password" %>
    <%= f.label :password, "Password", class: "form-label", for: "password" %>
  </div>

  <div class="text-center pt-1 mb-5 pb-1">
    <%= f.submit "Log in", class: "btn btn-primary mt-2 d-none", id: 'buttonSubmit' %>
    <%= f.button "Log in", type: "submit", class: "btn btn-primary btn-block fa-lg gradient-custom-2 mb-3", id: 'buttonLogin', data: { mdb_button_init: true, mdb_ripple_init: true } %>
    <%= link_to "Forgot password?", reset_password_form_path, class: "text-muted" %>
  </div>
<% end %>