<%= form_with url: send_reset_password_path, method: :post, data: { turbo: false } do %>
  <p>Enter your email address to receive a password reset code</p>

  <div data-mdb-input-init class="form-outline mb-4">
    <%= email_field_tag :email, nil, class: "form-control", id: "username", aria: { describedby: "emailHelp" }, placeholder: "Email address" %>
    <%= label_tag :email, "Email", class: "form-label", for: "username" %>
  </div>

  <div class="text-center pt-1 mb-5 pb-1">
    <%= submit_tag "Đăng nhập", class: "btn btn-primary mt-2 d-none", id: 'buttonSubmit' %>
    <%= button_tag "Send", type: "submit", class: "btn btn-primary btn-block fa-lg gradient-custom-2 mb-3", id: 'buttonLogin', data: { mdb_button_init: true, mdb_ripple_init: true } %>
    <%= link_to "Have account, login?", login_path, class: "text-muted" %>
  </div>
<% end %>